site_name: 'smart-grocery-search'
site_url: 'https://gitlab.com/butler.allan-heb/smart-grocery-search'
site_dir: public

theme:
  name: material
  logo: assets/H-E-B-logo.png
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.tabs.sticky
    - toc.integrate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - toc:
      toc_depth: 3
      title: On this page
      permalink: true
      permalink_title: Anchor link to this section for reference
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - md_in_html
  - attr_list

nav:
  - Home: index.md
# Add your project specific directories and modules
# For reference: Store Clustering mkdocs.yml can be found here:
# https://gitlab.com/heb-engineering/teams/planning-and-analysis/pa-and-product-projects/store-clustering/ds/str_clus/-/blob/main/mkdocs.yml
